<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App - {{title}}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='alpinejs.min.js') }}" defer></script>
</head>
<body>

    <div class="container-fluid mt-3">
        <h1 class="text-center">Todo App</h1>

        <div class="container py-4">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>