{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 col-xl-6">
        <form action="/add-task" method="post" class="mb-4 position-relative" hx-post="/add-task" hx-swap="none" hx-indicator="#submit-button" x-data="{title:'', description: '', submit: false}" x-ref="task_form">
            <div class="form-group">
                <input type="text" name="title" id="task" placeholder="What to do today?" class="form-control rounded-bottom-0" x-model="title" x-bind:class="{'is-invalid': submit && title==''}">
                <textarea name="description" id="description" rows="3" class="form-control pe-5 rounded-top-0 border-top-0" placeholder="Write down the task description..." x-model="description"  x-bind:class="{'is-invalid': submit && description==''}"></textarea>
                <button class="btn btn-dark position-absolute bottom-0 end-0 me-2 mb-2 py-1 rounded-pill" id="submit-button" x-on:click="submit=true;">Add Task</button>
            </div>
        </form>

        <div class="list-group" id="task-list"
            hx-get="/task-list"
            hx-swap="innerHTML"
        >
            {% for task in tasks %}
            <div class="list-group-item d-flex justify-content-between align-items-start" id="task-{{task.id}}">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{task.title}}</div>
                    <div class="text-muted">
                        {{task.description}}
                    </div>
                </div>

                <button type="button" class="btn small p-0 border-0 text-danger" hx-delete="/delete-task/{{task.id}}" hx-trigger="click" hx-target="#task-{{task.id}}" hx-swap="delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}